.App {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 150%;
}

h3 {
  text-align: center;
}

li {
  padding: 5px;
  transition: all 0.3s ease-in-out;
}
li:not(:last-child) {
  margin-bottom: 30px;
}

li:hover {
  color: red;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.monospace {
  font-family: monospace;
}
